@use "../common/variables.scss";

.advantages {
  padding-bottom: 49px;

  @media (min-width: variables.$tablet-width) {
    padding-bottom: 47px;
    border-bottom: 1px solid variables.$border-grey-2;
  }
}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 42px;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 72px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;;
    gap: 0;
    counter-reset: advantages;
  }
}

.advantages__item {
  @media (min-width: variables.$tablet-width) {
    height: 280px;
    margin-bottom: 61px;
  }
}

.advantages__description {
  position: relative;
  width: 200px;
  margin-left: auto;
  color: variables.$special-dark-grey;

  @media (min-width: variables.$tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 111px;
    padding-bottom: 57px;
    width: auto;
    max-width: 250px;

    &::after {
      position: absolute;
      content: counter(advantages) "";
      counter-increment: advantages;
      left: 111px;
      top: 104px;
      font-family: "Oswald";
      font-size: 280px;
      line-height: 1px;
      color: variables.$basic-grey;
      z-index: -1;
    }
  }
}

.advantages__description--leaf {
  &::before {
    position: absolute;
    left: -80px;
    top: -2px;
    content: "";
    width: 60px;
    height: 60px;
    background-color: variables.$basic-green;
    background-image: url("../img/icon-leaf.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: variables.$tablet-width) {
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
    }
  }
}

.advantages__description--flask {
  &::before {
    position: absolute;
    left: -80px;
    top: -2px;
    content: "";
    width: 60px;
    height: 60px;
    background-color: variables.$basic-green;
    background-image: url("../img/icon-flask.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: variables.$tablet-width) {
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
    }
  }
}

.advantages__description--eat {
  &::before {
    position: absolute;
    left: -80px;
    top: -2px;
    content: "";
    width: 60px;
    height: 60px;
    background-color: variables.$basic-green;
    background-image: url("../img/icon-eat.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: variables.$tablet-width) {
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
    }
  }
}

.advantages__description--clock {
  &::before {
    position: absolute;
    left: -80px;
    top: -2px;
    content: "";
    width: 60px;
    height: 60px;
    background-color: variables.$basic-green;
    background-image: url("../img/icon-clock.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: variables.$tablet-width) {
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
    }
  }
}
