@use "../common/variables.scss";

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$basic-grey;

  @media (min-width: variables.$desktop-width) {
    position: relative;
    background: none;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: variables.$tablet-width) {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: variables.$desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: variables.$basic-white;
    width: 565px;
    height: 199px;
    padding-left: 80px;
    padding-right: 78px;
    z-index: 1;
  }
}

.contacts__description {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  height: 60px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 26px;
    color: variables.$special-dark-grey-3;
    width: 163px;
    height: 78px;
  }
}

.contacts__address {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: variables.$special-dark-grey;
  width: 140px;
  height: 60px;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    text-align: end;
    width: 157px;
    height: 80px;
  }
}

.contacts__maps {
  display: block;
  border: none;
  height: 362px;
  width: 100%;

  @media (min-width: variables.$tablet-width) {
    height: 400px;
  }
}
