@use "../common/variables.scss";

.form-comment__textarea {
  resize: none;
  width: 100%;
  height: 150px;
  border: 1px solid variables.$border-grey-input;

  &::placeholder {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: variables.$special-dark-grey;
    text-transform: uppercase;
    padding: 14px 15px;

    @media (min-width: variables.$tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (min-width: variables.$tablet-width) {
    height: 175px;
  }
}

.form-comment__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: variables.$special-dark-grey;
  margin-bottom: 38px;
  text-transform: none;

  @media (min-width: variables.$tablet-width) {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 87px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 78px;
  }
}
