@use "../common/variables.scss";

.form-contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: variables.$special-dark-grey;
  margin-bottom: 35px;
  text-transform: none;

  @media (min-width: variables.$tablet-width) {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 76px;
  }
}

.form-contacts__container {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (min-width: variables.$tablet-width) {
    gap: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form-contacts__label {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.form-contacts__label-name {
  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.form-contacts__input {
  padding-left: 15px;
  padding-top: 14px;
  padding-bottom: 13px;
  margin-left: 13px;
  width: 100%;
  border: 1px solid variables.$border-grey-input;

  &::placeholder {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: variables.$special-dark-grey;
    text-transform: uppercase;

    @media (min-width: variables.$tablet-width) {
      font-size: 20px;
      line-height: 1;
    }
  }
}
