@use "../common/variables.scss";

.header {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 55px;
  }
}

.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 14px;

  @media (min-width: variables.$tablet-width) {
    width: 174px;
    padding: 0;
  }

  @media (min-width: variables.$desktop-width) {
    width: 202px;
  }
}

.header__logo {
  @media (min-width: variables.$tablet-width) {
    display: flex;
  }
}

.header__image {
  @media (min-width: variables.$tablet-width) {
    width: 60px;
    height: 50px;
    margin-right: 13px;
  }
}

.header__site-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: variables.$tablet-width) {
    position: static;
    transform: none;
    align-self: center;
  }
}

.header__button-navigation {
  border: none;
  background-color: transparent;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}
