@use "../common/variables.scss";

.hero {
  position: relative;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: variables.$basic-white;
  min-height: 481px;
  margin-bottom: 20px;
  z-index: 10;

  @media (min-width: variables.$tablet-width) {
    text-align: left;
    padding-bottom: 529px;
    margin: 0;
  }

  @media (min-width: variables.$desktop-width) {
    position: static;
    padding-bottom: 0;
    margin-bottom: 82px;
  }

  &::before {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 44px;
    transform: translateX(-50%);
    width: 280px;
    height: 270px;
    background-image: url("../img/index-can-mobile.png");
    background-repeat: no-repeat;
    background-size: 280px;
    z-index: 10;

    @media (min-width: variables.$tablet-width) {
      width: 709px;
      height: 609px;
      bottom: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    @media (min-width: variables.$desktop-width) {
      width: 522px;
      height: 499px;
      top: 143px;
      left: 477px;
      transform: none;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 305px;
    background-color: #63a73a;
    background-image: url("../img/cat-greengo.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;

    @media (min-width: variables.$tablet-width) {
      position: static;
    }

    @media (min-width: variables.$desktop-width) {
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      right: 0;
      height: 687px;
      background-size: contain;
      z-index: -1;
    }
  }
}

.hero__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
  min-height: 481px;

  @media (min-width: variables.$tablet-width) {
    min-height: auto;
    padding-left: 90px;
  }

  @media (min-width: variables.$desktop-width) {
    min-height: auto;
    padding-left: 80px;
  }
}

.hero__title {
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  padding-top: 27px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;

  @media (min-width: variables.$tablet-width) {
    width: 420px;
    font-size: 60px;
    text-align: left;
    padding: 0;
    padding-top: 65px;
    margin-bottom: 40px;
    color: variables.$basic-black;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 110px;
  }
}

.hero__slogan {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    text-align: left;
    color: variables.$basic-black;
    padding-bottom: 50px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 52px;
  }
}

.hero__button {
  margin-top: auto;

  @media (min-width: variables.$tablet-width) {
    width: 244px;
    order: 1;
    z-index: 1;
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 0;
    margin-bottom: 184px;
  }
}
