@use "../common/variables.scss";

.programs__item {
  display: flex;
  flex-wrap: wrap;
  background-color: variables.$basic-grey;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.programs__icon {
  position: absolute;
}

.programs__icon--slim {
  left: 8px;
  bottom: 2px;
}

.programs__icon--pro {
  left: -9px;
  bottom: 13px;
}

.programs__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 10px;
  padding-left: 70px;

}

.programs__title--slim {
  position: relative;

  &::before {
    position: absolute;
    top: -9px;
    left: 0;
    content: url("../img/cat-slim.svg");
  }
}

.programs__title--pro {
  position: relative;
  &::before {
    position: absolute;
    top: -6px;
    left: -8px;
    content: url("../img/cat-pro.svg");
  }
}

.programs__description {
  margin-top: 20px;
  padding-bottom: 20px;
  color: variables.$special-dark-grey;
  border-bottom: 1px solid variables.$border-grey;
}

.programs__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 20px;
}
