@use "../common/variables.scss";

.program__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  padding-top: 27px;
  margin-bottom: 37px;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    padding-top: 65px;
    padding-left: 40px;
    margin-bottom: 54px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 74px;
    padding-left: 0;
    margin-bottom: 55px;
  }
}

.program__description {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 226px;
  margin-bottom: 39px;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 360px;
    padding-left: 40px;
    margin-bottom: 66px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-left: 0;
  }
}
