@use "../common/variables.scss";

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  min-width: 125px;
  height: 70px;

  @media (min-width: variables.$tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.stats__meaning {
  text-transform: uppercase;
  text-align: center;
  min-width: 125px;
  min-height: 55px;
  padding-top: 15px;
  border: 1px solid variables.$special-gray;

  @media (min-width: variables.$tablet-width) {
    min-width: 162px;
    min-height: 72px;
  }
}

.stats__description {
  position: relative;
  width: 80px;
  height: 30px;
  bottom: 10px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: variables.$special-dark-grey;
  background-color: variables.$basic-grey;

  @media (min-width: variables.$tablet-width) {
    min-width: 125px;
    font-size: 14px;
    line-height: 1;
    background-color: transparent;
  }
}
