@use "variables.scss";

.button {
  display: inline-block;
  width: 100%;
  padding: 7px 44px 7px 44px;
  background-color: variables.$basic-green;
  color: variables.$basic-white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}
