// Цвета
$basic-white: #ffffff;
$basic-black: #000000;
$special-dark-grey: #444444;
$special-dark-grey-2: #222222;
$special-dark-grey-3: #111111;
$special-gray: #cdcdcd;
$special-gray-2: #666666;
$basic-grey: #f2f2f2;
$border-grey: #d9d9d9;
$border-grey-2: #e6e6e6;
$border-grey-input: #e7e7e7;
$basic-green: #68b738;
$background-hero-left: #62a53a;
$background-hero-right: #64a73c;
