// Цвета
$basic-white: #ffffff;
$basic-black: #000000;
$special-dark-grey: #444444;
$special-gray: #cdcdcd;
$special-gray-2: #666666;
$basic-grey: #f2f2f2;
$border-grey: #d9d9d9;
$basic-green: #68b738;
$background-hero-left: rgba(101, 167, 60, 0.85);
$background-hero-right: rgba(99, 166, 59, 0.85);
