@use "variables.scss";

.wrapper {
  width: variables.$mobile-content-width;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    width: variables.$tablet-content-width;
  }

  @media (min-width: variables.$desktop-width) {
    width: variables.$desktop-content-width;
  }
}
